[gcode_macro PRINT_END]
gcode:
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set z_clearance = 50 %}
    {% set z_hop = 2  %}

    {% if (printer.toolhead.position.z + z_clearance) < max_z %}
        {% set z_hop = 2  %}
    {% else %}
        {% set z_hop = 0 %}
    {% endif %}

    M106 P0 S0                                                                                                      ; Turn off part cooling fan
    M106 P2 S0                                                                                                      ; Turn off side fan
    M106 P3 S0                                                                                                      ; Turn off activated charcoal fan

    M104 S0                                                                                                         ; Turn off hotend
    M140 S0                                                                                                         ; Turn off heated bed
    M141 S0                                                                                                         ; Turn off heated chamber

    G91                                                                                                             ; Relative positioning
    G0 Z{z_hop} E-4.0 F3600                                                                                         ; Move nozzle up and retract filament
    G90                                                                                                             ; Absolute positioning
    G0 X{max_x/2} Y{max_y-40} F20000                                                                                ; Move nozzle to remove stringing
    _Z_CLEARANCE DISTANCE={z_clearance}                                                                             ; Lower bed
    M400                                                                                                            ; Wait for buffer to clear
    G92 E0                                                                                                          ; Zero the extruder

    M220 S100                                                                                                       ; Set feedrate (speed percentage) back to 100%
    M221 S100                                                                                                       ; Set flow percentage back to 100%

    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}                                     ; Set timeout back to configured value
    CLEAR_PAUSE                                                                                                     ; Ensure pause state is cleared if applicable

    M84                                                                                                             ; Disable steppers
    BEEP I=2 DUR=500                                                                                                ; Alert at the end of the print (if sound is enabled)


[gcode_macro PRINT_START]
# Use PRINT_START for the slicer starting script
description: Start printing
gcode:
    {% set chamber_target_temp = printer["heater_generic chamber"].target %}
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=Mainboard_fan TARGET=1                                              ; Decrease the mainboard target temp to turn the fan on for driver cooling
    CLEAR_PAUSE                                                                                                    ; Clear existing pause states
    BED_MESH_CLEAR                                                                                                 ; Clear previous adaptive mesh

    {% if chamber_target_temp > 0 %}                                                                               ; Accelerate chamber heating  
        G28                                                                                                        ; Home all 
        G0 Z6 F780                                                                                                 ; Move print bed to perfect postion to help chamber heating
        M106 P2 S185                                                                                               ; Turn sidefan on to use bed heat and mix air
        TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={chamber_target_temp - 5}                         ; Wait for chamber to heat up
        M106 P2 S0                                                                                                 ; Turn off sidefan
    {% endif %}