########################################
# Filament runout sensor
########################################
#[filament_switch_sensor filament]
#switch_pin: !PC1
#pause_on_runout: True
#runout_gcode:
#            M118 Filament run out!
#event_delay: 3.0
#pause_delay: 0.5


# --------------------------------------------------------------------------
# Filament Switch Sensor (klassischer Schalter)
# Erkennt nur "Filament vorhanden / nicht vorhanden"
# --------------------------------------------------------------------------
[filament_switch_sensor fila]
pause_on_runout: False                 # Standard wäre True, hier bewusst deaktiviert
runout_gcode:
    PAUSE                              # Pause bei Runout (setzt [pause_resume] voraus)
    # SET_FILAMENT_SENSOR SENSOR=fila ENABLE=1   ; optional: Sensor manuell aktivieren
    M117 Filament switch runout        # Statusmeldung auf Display
insert_gcode:
    M117 Filament switch inserted      # Meldung bei Filament-Einzug
event_delay: 3.0                       # Entprellzeit für Events
pause_delay: 0.5                       # Verzögerung vor Pause
switch_pin: PC3                        # Pin-Zuordnung (Werkseinstellung war !PC1)

# Hinweis: Diese Sektion ist für den BTT SFS V2.0 angepasst
# --------------------------------------------------------------------------


# --------------------------------------------------------------------------
# Filament Motion Sensor (Encoder)
# Erkennt tatsächliche Filamentbewegung (z. B. Blockaden)
# --------------------------------------------------------------------------
#[filament_motion_sensor encoder_sensor]
#switch_pin: PC1                        # Pin-Zuordnung für Encoder
#detection_length: 2.88                # Wegstrecke für Erkennung (abhängig vom Sensor)
#detection_length: 3                    # Wegstrecke für Erkennung (abhängig vom Sensor)
#extruder: extruder                     # Zugeordneter Extruder
#pause_on_runout: False                 # Kein automatisches PAUSE, nur über runout_gcode
#runout_gcode:
#    PAUSE                              # Pause bei Runout (setzt [pause_resume] voraus)
#    M117 Filament encoder runout       # Statusmeldung auf Display
#insert_gcode:
#    M117 Filament encoder inserted     # Meldung bei Filament-Einzug
